@page
    <main>
        <div class="container-width" style="margin-top:55px;">
            <div class="col-md-8">
                <div class="text-primary h2">
                    <img class="img-responsive" src="~/images/源栈上课啦.jpg" />
                    <samp class="glyphicon glyphicon-edit" aria-hidden="true"></samp>
                    28岁，转行学IT靠谱吗？
                    <hr />
                </div>
                <div>
                    <small class="text-muted">
                        <span class="glyphicon glyphicon-calendar">
                        </span>2019年03月23日 11点31分
                    </small>
                    <span class="pull-right">作者：<a href="#">叶飞</a></span>
                </div>
                <div>
                    <p>
                        其实年龄不是问题。这个就不多说了，其他答案说得很对。我觉得你有这几个问题要仔细思考一下：
                    </p>
                    <p>
                        1、你自己想不想做IT？你是因为你媳妇认为你现在的“制造业质量工程师”“工资低，涨得慢”，所以“希望”你“报班学IT”，你自己呢？你喜不喜欢现在的工作？喜不喜欢IT行业的工作？这个你要先想清楚。因为：
                    </p>
                    <p>
                        2、单纯从“行业收入”来选行业，风险是非常大的。当然，现在IT行业的工资非常可观，但十年之后呢？当你可以自豪的在简历上写着“十年IT开发工作经验”的时候，说不定IT行业的泡泡已经破了——你看就今年年底，互联网就凉了一波。因为一个行业的收入高，就必然吸引很多其他行业的人涌入，从而拉低行业工资水平。你看，现在“三百六十行，行行转IT”，是不是就是这样？
                    </p>
                    <p>
                        3、我一直给“野生程序猿”呐喊加油，只是因为这条路很难！大家千万不要搞错了，以为我是在鼓励大家都去转行做程序员。这条路真的很难，如果不是因为你特别喜欢编程，或者特别憎恨现在的工作/专业，我很怀疑你能走得下去，或者走得更好。
                    </p>
                    <p>
                        我突然就想起来，我刚入行的那会儿，经常在CSDN里面逛，经常听到有人吼着“要转行”——注意，是转行不干程序员，而不是知乎的转行干程序员。当年带我的team leader说我：“所以你傻啊！好好的律师不干，来和我们抢饭碗……”他如果能考过司法资格考试，一定会做律师，不做程序员的。
                    </p>
                    <p>
                        本来想给你说说做程序员怎么难的。但一来你老婆都是做IT的，二来呢“鞋子合适不合适，只有脚知道”，这个得你自己体会，同一件事，不同的人体会都不一样。最终还是得你自己试一下才行。当然这样就会有试错成本，我知道，但这就是人生，很无奈。
                    </p>
                    <p>
                        Follow your heart，真的非常重要。
                    </p>
                    <p>
                        你今年28岁，再过十年，就和我一样，38了。我不知道别人怎么样，我自己有时候就会觉得“空”，人生如梦万事皆空——当然我现在处于早期，症状很轻微。估计再过10年，会严重一点，^_^
                    </p>
                    <p>
                        等等，我想说的是什么？
                    </p>
                    <p>
                        活在当下，才是最重要的！我们很多人，都会幻想一个美好的明天。我要是有了钱就怎么怎么好了，然后为了这个目标牺牲很多东西，健康、家人，以及每一天快乐的心情，但是，就算你真的到了那一天——当然，很多人根本到不了这一天，更惨，略过吧，人艰不拆——你老了、病了、累了……所有你获得的，原来完全没有意义。
                    </p>
                    <p>
                        我是这样劝别人的：做你喜欢做的事情，而不是看起来有更大几率成功的事情。那么，假如你成功了，OK，完美；假设你没有成功（这其实是大概率事件），没关系，你每一天都很开心，你开开心心地过完了一辈子，也够啦，是不是？
                    </p>
                    <p>
                        更何况，只有一种成功：按自己喜欢的方式，过完一生。
                    </p>
                    <p>
                        <br>
                    </p>
                    <p>
                        +++++++++++++
                    </p>
                    <p>
                        最后很煞风景的加个推广，两个QQ群：
                    </p>
                    <ul>
                        <li>
                            飞哥办了一个IT培训班，<a rel="nofollow" href="https://link.zhihu.com/?target=http%3A/ASP.NET" target="_blank">http://ASP.NET</a>全栈开发，线上全程直播，可以免费收看；线下拎包入住，按周收费。如果你有兴趣了解一下，可以加QQ群：729600626（一起帮·源栈·有意向）
                        </li>
                        <li>
                            另外一个QQ群：716207562（一起帮·老码农-4），也不说啥交流啦，就吹牛灌水，老码农小菜鸟打发时间聊聊天，O(∩_∩)O~
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="gap">
                        <label><span class="glyphicon glyphicon-tags"></span>关键字：</label>
                        <span><a href="#" style="color: white;">IT行业</a></span>
                        <span><a href="#" style="color: white;">编程</a></span>
                        <span><a href="#" style="color: white;">行业</a></span>
                    </div>
                    <div class="pull-right">
                        <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>赞：99+</a>
                        <a href="#"><samp class="glyphicon glyphicon-thumbs-down"></samp>踩：0</a>
                    </div>
                    <div id="gift" class="gap">
                        <div class="info-border" style="text-align:center;">
                            <span class="glyphicon glyphicon-yen H1"></span>
                            <br />
                            打赏
                        </div>
                    </div>
                    <div class="gap white-dashed" style="padding-left:20px;">
                        <div>
                            <span class="glyphicon glyphicon-glass"></span>
                            已收到打赏的
                            <a href="#">帮帮币</a>
                            <br />
                            <small class="text-info">快来做第一个打赏的好心人，O(∩_∩)O~</small>
                            <hr />
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-info-sign"></span>
                            你的
                            <span style="color:rgba(203,180,26,1)">打赏</span>
                            非常重要！
                            <br />
                            为了
                            <a href=" #">保证文章的质量</a>
                            ，每一篇文章的发布，都已经消耗了作者 1 枚
                            <a href="#">帮帮币</a>
                            <br />
                            没有“帮帮币”，作者无法发布新的文章。
                        </div>
                    </div>
                    <div id="invite">
                        <a href="#" style="color:#354756;">投稿人推广：</a>
                        <a href="#">飞哥邀请你注册“一起帮”（含邀请码）</a>
                    </div>
                    <div class="gap">
                        <label class="pull-left">
                            <input type="checkbox" value="true" />
                            在系列
                            <a href="#">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                编程那些事：菜鸟入门
                            </a>中的：
                        </label>
                        <a class="btn btn-default btn-sm pull-right" href="#">
                            <span class="glyphicon glyphicon-blackboard"></span>
                            全系列阅读
                        </a>

                    </div>
                    <div class="gap info-border" style="clear:both;">
                        <div>
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            上一篇：
                            <a href="#">目前IT很火，很多人转行，简单培训后进入IT行业，那么这样“速成”的IT从业人员发展前景如何？</a>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            下一篇：
                            <a href="#">源栈培训：人人都是程序猿（十一）数据结构和算法-4-排序</a>
                        </div>
                    </div>
                    <div class="gap">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论（0/0）</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="white-dashed" style="padding:0px 20px 0px 20px;">
                    <div class="h3">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <a href="#">叶飞</a>
                        的系列文章
                        <p class="h5">飞哥的源栈培训：线上全程直播，免费收看；线下拎包入住，按周计费。本系列收录所有讲义（含视频录播地址）</p>
                        <hr />
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">编程那些事：菜鸟入门</a>
                        <p class="h5">大飞哥倾力之作，面向有意入行IT/开发/编程的初学者，欢迎任何形式的留言建议…… </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">源栈培训：ASP.NET全栈开发</a>
                        <p class="h5">飞哥的源栈培训：线上全程直播，免费收看；线下拎包入住，按周计费。本系列收录所有讲义（含视频录播地址） </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#"> 从包工头到程序猿</a>
                        <p class="h5">真实故事，讲述我在家装公司关门之后，如何转行成为一个程序猿的故事。（《折腾》第三卷） </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#"> 《折腾》（卷一）青涩 </a>
                        <p class="h5">时间段：从大学毕业到开始创业。离开青葱校园，涉世之初的那些往事…… </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#"> 《折腾》（卷二）风雨 之（1）工地 </a>
                        <p class="h5">我一个完全的门外汉（无论装修还是管理），开始给黎叔装修房子。从踌躅满志，到四处碰壁；从一往直前，到左右为难……  </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">《折腾》（卷二）风雨 之（2）胸怀</a>
                        <p class="h5">作为一个律师，接工程没签合同，被狠狠的坑了一把！年轻人暴烈的想要复仇，黎叔教他一个企业家的胸怀……  </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">《折腾》（卷二）风雨 之（3）渠道</a>
                        <p class="h5">成立了公司，招聘了员工，开始大力的拓展业务，一个接一个的坑，摔倒了又爬起来……  </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">《折腾》（卷二）风雨 之（4）视野</a>
                        <p class="h5">经历残酷现实的磨砺，终于明白：干啥事，都不能闭门造车，人要走出去，开阔视野…… </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">未分类</a>
                        <p class="h5">系统自动生成的未分类系列 </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">一锅大杂烩</a>
                        <p class="h5">从律师到包工头，从码农到写手，读书交友生活创业，各种零零碎碎，乱七八糟……  </p>
                    </div>
                    <div class="h4">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <a href="#">人人都是程序猿</a>
                        <p class="h5">计算机编程普及课程，视频：https://space.bilibili.com/55410301/#/channel/detail?cid=49491 </p>
                        <a class="btn pull-right" href="#"><span class="glyphicon glyphicon-hand-right"></span>求助</a>
                    </div>
                </div>
                <div class="keyword-label">
                    <H2>关键字</H2>
                    <hr />
                    <div id="keyword">
                        <a href="#">编辑开发语言</a>
                        <a href="#">c#</a>
                        <a href="#">JAVA</a>
                        <a href="#">工具软件</a>
                        <a href="#">Javascript</a>
                        <a href="#">顾问咨询</a>
                        <a href="#">html</a>
                        <a href="#">操作系统</a>
                        <a href="#">VisualStudio</a>
                        <a href="#">SQL</a>
                        <a href="#">法律</a>
                        <a href="#">职场</a>
                        <a href="#">python</a>
                        <a href="#">.net</a>
                        <a href="#">css</a>
                        <a href="#">Linux</a>
                        <hr />
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="直接输入关键字查找">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-refresh"></span>
                            换一批
                        </button>
                    </div>
                </div>
                <div class="clearfix ranking-border">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-eye-open"></span>每日督促</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-heart"></span>排行榜</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user"></span>新注册</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <ol class="h4">
                                <li>
                                    <a href="#">叶飞⑩</a>
                                    <samp class="pull-right">195</samp>
                                </li>
                                <li>
                                    <a href="#"> 无蓝孟风 ② </a>
                                    <samp class="pull-right">50</samp>
                                </li>
                                <li>
                                    <a href="#">兵乓球小王子⑦ </a>
                                    <samp class="pull-right">135</samp>
                                </li>
                                <li>
                                    <a href="#">阿风想睡觉 ①  </a>
                                    <samp class="pull-right">22</samp>
                                </li>
                                <li>
                                    <a href="#">ywl0509 ① </a>
                                    <samp class="pull-right">10</samp>
                                </li>
                                <li>
                                    <a href="#">chenzhiwei ④ </a>
                                    <samp class="pull-right">10</samp>
                                </li>
                                <li>
                                    <a href="#">突突突突突 ① </a>
                                    <samp class="pull-right">10</samp>
                                </li>
                                <li>
                                    <a href="#">txdyr ② </a>
                                    <samp class="pull-right">10</samp>
                                </li>
                            </ol>
                            <a href="$" class="pull-right">
                                <span class="glyphicon glyphicon-hand-right"></span>
                                我的排行
                            </a>
                        </div>
                    </div>

                </div>
                <div class="clearfix keyword-label" style="margin-top:50px;">
                    <ol>
                        <li><a href="#"> 线上学习不能自律？试试这个……</a></li>
                        <li><a href="#">“一起帮·程序员客栈”筹办思路 </a></li>
                        <li><a href="#"> “源栈”2019课程设置 </a></li>
                        <li><a href="#" style="color:#ff0000"> 免费广告位，抢到就是赚到！</a></li>
                        <li><a href="#" style="color:#ff0000"> 免费广告位，抢到就是赚到！</a></li>
                        <li><a href="#"> 本站主机由西部数码提供 </a></li>
                    </ol>
                </div>


            </div>

        </div>
    </main>
