@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/BeatMole.css" />
</head>
<body>
    <div class="h3">
        <span style="color:red">
            您的分数:
            <span id="scoring">0</span>
        </span>
        <span style="color:red">剩余时间:</span>
    </div>
    <button class="btn btn-defaultcd">开始游戏</button>
    <div class="clay">
        <img src="~/images/土堆.png" style="left:320px;" />
        <img src="~/images/土堆.png" style="left:420px;" />
        <img src="~/images/土堆.png" style="left:520px;" />
        <img src="~/images/土堆.png" style="top:450px;right:370px;" />
        <img src="~/images/土堆.png" style="top:450px;right:280px;" />
        <img src="~/images/土堆.png" style="top:450px;right:180px;" />
        <img src="~/images/土堆.png" style="top:520px;left:320px;" />
        <img src="~/images/土堆.png" style="top:520px;left:420px;" />
        <img src="~/images/土堆.png" style="top:520px;left:520px;" />
    </div>
    <div class="mole"style="z-index:-2;">
        <img src="~/images/萌地鼠.png" lkh-mole1 style="left:400px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole11 style="left:320px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole2 style="left:570px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole12 style="left:490px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole3 style="left:740px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole13 style="left:660px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole4 style="top:240px;right:80px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole14 style="top:240px;right:160px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole5 style="top:240px;left:85px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole15 style="top:240px;left:6px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole6 style="top:240px;left:255px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole16 style="top:240px;left:176px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole7 style="top:420px;right:565px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole17 style="top:420px;right:645px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole8 style="top:420px;right:390px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole18 style="top:420px;right:470px;" class="" />
        <img src="~/images/萌地鼠.png" lkh-mole9 style="top:420px;right:220px;" class="" />
        <img src="~/images/坏地鼠.png" lkh-mole19 style="top:420px;right:300px;" class="" />
    </div>
</body>

</html>