@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/BeatMole.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>地鼠游戏</title>
</head>
<body>
    <main class="container">
        <div class="pull-left ranking-list">
            <ol style="color:darkorange;">
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
                <li>
                    <span>名称：</span>
                    <span lkh-name></span>
                    <span>得分：</span>
                    <span lkh-rank></span>
                </li>
            </ol>
        </div>
        <div id="user">
            <div>
                <span id="UserName">名称：</span>
            </div>
            <div>
                <span id="score">当前得分：</span>
            </div>
            <div>
                <span>当前难度:</span>
                <span id="GameMode"></span>
            </div>
        </div>
        <div class="h3 pull-right">
            <span class="glyphicon glyphicon-hourglass"></span>
            <span>剩余时间：</span>
            <span id="remain-time"></span>
        </div>
        <div id="button">
            <button lkh-game-go type="button" class="btn btn-success" style="margin-left:200px;">开始游戏</button>
            <button lkh-game-music-on type="button" class=" button pull-left">关闭背景音乐</button>
            <button lkh-game-music-off type="button" class=" button pull-left">打开背景音乐</button>
        </div>
        <div class="modal fade gameover" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:red;">游戏结束</h4>
                    </div>
                    <div class="modal-body">
                        <p>很遗憾失败了┑(￣Д ￣)┍&hellip;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade record-breaking" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:red;">恭喜您！破纪录啦~~</h4>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tbody lkh-game class="container">
                <tr class="row">
                    <td><img src="~/images/土堆.png" lkh-clay="1" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="2" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="3" class="clay" /></td>
                </tr>
                <tr class="row">
                    <td><img src="~/images/土堆.png" lkh-clay="4" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="5" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="6" class="clay" /></td>
                </tr>
                <tr class="row">
                    <td><img src="~/images/土堆.png" lkh-clay="7" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="8" class="clay" /></td>
                    <td><img src="~/images/土堆.png" lkh-clay="9" class="clay" /></td>
                </tr>
            </tbody>
        </table>
    </main>
    <div id="music">
        <audio id="tunk">
            <source src="~/images/敲打.wav" />
        </audio>
        <audio id="spring">
            <source src="~/images/弹簧-短.wav" />
        </audio>
        <audio id="boom">
            <source src="~/images/爆炸.mp3" />
        </audio>
        <audio id="appear">
            <source src="~/images/一下出现.wav" />
        </audio>
        <audio id="background">
            <source src="~/images/背景音乐.wav" />
        </audio>
    </div>
    <script src="~/js/TunkMole.js"></script>
</body>
</html>