@page
<main>
    <div class="container-width">
        <div class="return-prepage pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-share-alt"></span>
                返回
            </a>
        </div>
        <div class="h2 page-header">
            <span class="glyphicon glyphicon-registration-mark"></span>
            注册
        </div>
        <div class="col-lg-4 col-md-5">
            <form>
                <section class="yellow-highlight">
                    <div class="pull-right">
                        <a href="#">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            为什么需要邀请
                        </a>
                    </div>
                    <div class="form-group">
                        <label>邀请人：</label>
                        （*必填，
                        <a href="#">没有邀请人</a>）
                        <input class="form-control" type="text" value="" placeholder="他的用户名，模糊查询只能从头开始" />
                    </div>
                    <div class="form-group">
                        <label>邀请码：</label>
                        （*必填，
                        <a href="#">没有邀请人</a>）
                        <input class="form-control" type="text" value="" placeholder="4位数字" />
                    </div>
                </section>
                <div class="gap">
                    <label>用户名：（*必填）</label>
                    <input class="form-control" type="text" value="" placeholder="登陆用户名，可修改，不能重复" />
                </div>
                <div>
                    <label>密码：（*必填）</label>
                    <input class="form-control" type="password" value="" placeholder="不能少于4个字符" />
                </div>
                <div class="gap">
                    <label>验证密码：（*必填）</label>
                    <input class="form-control" type="password" value="" placeholder="和密码相同" />
                </div>
                <div>
                    <label>验证码：（*必填）</label>
                    <br />
                    <input class="form-control" type="text" style="display:inline;width:20%;" />
                    点击输入框显示
                </div>
                <div class="gap">
                    <input class="btn btn-primary" type="submit" value="提交" />
                    <input class="btn btn-default" type="reset" value="重置" />
                    <a href="#" class="btn pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        登陆
                    </a>
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
            <div>
                <h3 class="text-info">
                <span class="glyphicon glyphicon-question-sign"></span>
                 说明
                </h3>
                <ol>
                    <li>
                        我们希望通过
                        <a href="#">一起帮</a>
                        ，能
                        <span class="text-primary">直接解决</span>
                        大家在
                        <span class="text-primary">电脑操作/软件使用/编程学习</span>
                        等方面的
                        <span class="text-primary">具体问题</span>
                        。
                    </li>
                    <li>
                        现在互联网远程技术
                        <span class="text-muted">（比如QQ桌面共享）</span>
                        已经非常成熟，当我们再遇到上述问题，如果别人能
                        <span class="text-primary">直接远程给予帮助</span>
                        ，岂不是好？
                    </li>
                    <li>
                        当然，你也可以在你熟悉的领域去
                        <span class="text-primary">帮助别人</span>
                        。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
                    </li>
                    <li>
                        公平起见，我们还引入了 帮帮
                        <span style="color:#4c39ff">点</span>
                        /
                        <span style="color:#d7c159">币</span>
                        /
                        <span style="color:#a2d04b">豆</span>
                        三级概念，以记录和衡量社区成员的收获和贡献。
                    </li>
                    <li>
                    赶快加入我们，赚取帮帮币吧！
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-hand-right"></span>
                            了解更多
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>