@page
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div id="keyword">
        <a href="#" data-used="23">maven</a>
        <a href="#" data-used="54">jwt</a>
        <a href="#" data-used="211">VS2015</a>
        <a href="#" data-used="645">token</a>
        <a href="#" data-used="454">socket</a>
        <a href="#" data-used="454">树状结构</a>
        <a href="#" data-used="354">Studio</a>
        <a href="#" data-used="741">bootstrap</a>
        <a href="#" data-used="35">服务器 </a>
        <a href="#" data-used="85">Word </a>
        <a href="#" data-used="95">认证 </a>
        <a href="#" data-used="350">hibernate</a>
        <a href="#" data-used="77">Exception</a>
        <a href="#" data-used="66">登陆</a>
    </div>
</body>
</html>

