@page
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
        <div id="keyword">
            <a href="#" data-used="23">编程开发语言</a>
            <a href="#" data-used="54">C#</a>
            <a href="#" data-used="211">JAVA</a>
            <a href="#" data-used="645">工具软件</a>
            <a href="#" data-used="454">Javascript</a>
            <a href="#" data-used="454">顾问咨询</a>
            <a href="#" data-used="354">html</a>
            <a href="#" data-used="741">VisualStudio</a>
            <a href="#" data-used="35">操作系统 </a>
            <a href="#" data-used="85">SQL</a>
            <a href="#" data-used="95">职场</a>
            <a href="#" data-used="350">法律</a>
            <a href="#" data-used="77">Python</a>
            <a href="#" data-used="66">.net</a>
            <a href="#" data-used="685">CSS</a>
            <a href="#" data-used="577">JSP</a>
        </div>
</body>
</html>

