<!DOCTYPE html>
<html>
<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    <form>
        <label>用户名：<input type="text" name="username" /></label><br />
        <label>密码：<input type="password" name="password" /></label><br />
        <label>确认密码：<input type="password" /></label><br />
        <div>
            <label>性别：</label>
            <label><input type="radio" value="female" name="gender" />男</label>
            <label><input type="radio" value="female" name="gender" />女</label>
        </div>
        <div>
            <label>来自：</label>
            <select name="province">
                <option value="js">江苏</option>
                <option value="hn">湖南</option>
                <option value="hlj">黑龙江</option>
            </select>
        </div>
        <div>
            <label>自我介绍：</label><br />
            <textarea name="self-introduction"></textarea>
        </div>
        <input type="submit" value="提交" />
        <input type="reset" value="重置" />
        <label><input type="checkbox" id="remember" />记住我</label>
    </form>
    <script>
        

    </script>
    @RenderBody()
</body>
</html>
