/** {
    border: 1px dashed;
}*/

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    min-height: 679px;
    background-image: url(/images/背景.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

table {
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
}

td {
    position: relative;
}

.clay {
    margin: 15px 30px 20px 30px;
    position: relative;
    z-index: 10;
    height: 80px;
}

.button {
    margin-left: 200px;
    display: none;
    margin-top:20px;
}

.ranking-list {
    width: 170px;
    border: 1px solid #00ffff;
    background-color: gainsboro;
}

#user {
    color: red;
    float: left;
}

.Mine {
    position: absolute;
    bottom: 80px;
    left: 79px;
}

.lovable-mole {
    position: absolute;
    bottom: 37px;
    left: 106px;
    animation-name: FirstMove;
    animation-duration: 2.5s;
}

.lovable-mole-Primary {
    position: absolute;
    bottom: 37px;
    left: 106px;
    animation-name: FirstMove;
    animation-duration: 2s;
}

.lovable-mole-Difficult {
    position: absolute;
    bottom: 37px;
    left: 106px;
    animation-name: FirstMove;
    animation-duration: 1s;
}

.lovable-mole-Nightmare {
    position: absolute;
    bottom: 37px;
    left: 106px;
    animation-name: FirstMove;
    animation-duration: 0.5s;
}

@keyframes FirstMove {
    0% {
        bottom: 37px;
    }

    25% {
        bottom: 80px;
    }

    85% {
        bottom: 80px;
    }

    100% {
        bottom: 37px;
    }
}
