/** {
    border: 1px dashed;
}*/

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    min-height: 679px;
    background-image: url(/images/背景.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

table {
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
}

td {
    position: relative;
}

.clay {
    margin: 15px 30px 20px 30px;
    position: relative;
    z-index: 10;
}

.ranking-list {
    width: 170px;
    border: 1px solid #00ffff;
    background-color: gainsboro;
}

#user{
    color:red;
    float:left;
}
.lovable-mole {
    position: absolute;
    bottom: 31px;
    left: 86px;
    animation-name: FirstMove;
    animation-duration: 5s;
}

@keyframes FirstMove {
    0% {
        bottom: 31px;
    }

    50% {
        bottom: 70px;
    }

    100% {
        bottom: 31px;
    }
}
