@page
<html>
<head>
    @*<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/17bang.ico" />
    <title>精品文章·一起帮</title>
</head>
<body>
    <header>
        <div id="guide">
            <img src="/images/logo-big.png" ait="一起帮" style="margin-left:170px;float:left;" />
            <span style="float:left;margin-top:20px;"><span>一起帮</span>·网络互助平台</span>
            <ul style="margin-right: 200px;float: right;">
                <li class="dropdown">
                    <a class="parallel" href="#">求助</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">发布</a></li>
                            <li><a href="#">列表</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="parallel" href="#">督促</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">求督促</a></li>
                            <li><a href="#">督促别人</a></li>
                            <li><a href="#">我的目标</a></li>
                            <li><a href="#">我的督促</a></li>
                        </ul>
                    </div>

                <li class="dropdown">
                    <a class="parallel" href="#">文章</a>
                    <div class="dropdown-content">
                        <ul><li><a href="#">列表</a></li></ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="parallel" href="#">APP下载</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">ios（越狱）</a></li>
                        </ul>
                    </div>
                <li class="dropdown">
                    <a class="parallel" href="#">未登陆</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">登陆</a></li>
                            <li><a href="#">注册</a></li>
                            <li><a href="#">忘记密码</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="border">
        <span>
            求助离职，已经离职了，工资以扣工作服的理由被扣了。的总结被zsedcftg12查看，获得3点帮帮点
            <a href="#" style="float:right" ;>全部消息</a>
        </span>
    </div>
    <main class="frame-size">
        <div class="float" style="width:660px;">
            <form>
                <div style="padding-bottom: 50px;padding-top:50px">
                    <div class="float" style="border-left:6px solid gray;">
                        <samp>只显示</samp>
                        <input type="checkbox" name="ExcludeRewarded" value="true">已酬谢
                        <input type="checkbox" name="ExcludeCanceled" value="true">已撤销
                        <input type="checkbox" name="ExcludeInProgress" value="true">协助中
                    </div>
                    <div class="float" style="padding-left:25px;">
                        <samp>不显示</samp>
                        <input type="checkbox" name="OnlyMyFocus" value="true">我的关注
                        <input type="checkbox" name="OnlySummaried" value="true">有总结
                    </div>
                </div>
            </form>
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        <samp>2019年03月12日 20点40分</samp>
                    </small>
                    <samp style="float:right">作者：<a href="#">asd7231</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#">python爬虫设置代理无效</a>
                    <br />
                    如题，初学python，没有用框架，设置了chrome和PhantomJS代理都没有效果
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">爬虫代理设置</a></span>
                    <span><a href="#" style="color: white;">爬虫</a></span>
                    <span><a href="#" style="color: white;">python</a></span>
                    <span><a href="#" style="color: white;">编程开发语言</a></span>
                </p>
                悬赏：20
                <a href="#">应答：</a>0
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        <samp>2018年07月02日 14点07分</samp>
                    </small>
                    <samp style="float:right">作者：<a href="#">那是花开911</a></samp>
                </div>
                <div>
                    <samp id="label-warning" class="problem-status">协助中</samp>
                    <a href="#"> ASP 网站迁移</a>
                    <br />
                    在服务器上把原先的asp网站整体迁移出来，在新的服务器上重新布置
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">asp</a></span>
                    <span><a href="#" style="color: white;">数据库</a></span>
                </p>
                悬赏：实结
                <a href="#">应答：</a>4
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        <samp>2018年04月26日 15点04分 </samp>
                    </small>
                    <samp style="float:right">作者：<a href="#">1462556133</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#"> </a>
                    <br />
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">多线程</a></span>
                    <span><a href="#" style="color: white;">JAVA</a></span>
                    <span><a href="#" style="color: white;">编程开发语言</a></span>
                </p>
                悬赏：实结
                <a href="#">应答：</a>4
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        <samp>2018年04月20日 17点44分  </samp>
                    </small>
                    <samp style="float:right">作者：<a href="#">txdyr</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#">Winform里控件绑定数据源就会报错</a>
                    <br />
                    项目里的控件绑定属性都会出现这个问题
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">VisualStudio</a></span>
                    <span><a href="#" style="color: white;">工具软件</a></span>
                    <span><a href="#" style="color: white;">c#</a></span>
                </p>
                悬赏：实结
                <a href="#">应答：</a>3
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        <samp>2018年04月20日 14点06分</samp>
                    </small>
                    <samp style="float:right">作者：<a href="#">别闹</a></samp>
                </div>
                <div>
                    <samp id="label-warning" class="problem-status">协助中</samp>
                    <a href="#">SQL Server多表查询,中间表有字段可能为空</a>
                    <br />
                    如图,表B中的D,E,F可能会是空,SQL怎么写,才能保证数据的一致性;
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">数据库</a></span>
                    <span><a href="#" style="color: white;">sqlserver</a></span>
                    <span><a href="#" style="color: white;">SQL</a></span>
                </p>
                悬赏：30
                <a href="#">应答：</a>5
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        2018年04月17日 17点12分
                    </small>
                    <samp style="float:right">作者：<a href="#">ghwolf</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#">西安大专应届生找个JAVA开发的工作，有没有推荐的</a>
                    <br />
                    本人3个月后毕业，自学3年JAVA，对J2EE的一整套开发体系非常熟悉，OA类的项目做的比较多。荣获第八届蓝桥杯JAVA C组个人赛全国一等奖，之后去上海实习几个月，因为一些原因必须回西安发展，但是投简历无数，要么没有音信，要么第一轮面试结束没有消息，要么学历不过关--。智联上西安的JAVA校招几乎没有，1个月过去了，还是没有工作，我都不求工资，只求有长远发展，不会的我都愿意学，但是不想去那种混日子的公司，要有激情，有创新，有热血的公司。有没有推荐的，或者那位大神觉得我可以内推一下我，至少给个面试机会
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">JAVA</a></span>
                    <span><a href="#" style="color: white;">职场</a></span>
                    <span><a href="#" style="color: white;">顾问咨询</a></span>
                </p>
                悬赏：0
                <a href="#">应答：</a>2
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        2018年04月14日 10点50分
                    </small>
                    <samp style="float:right">作者：<a href="#">txdyr</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#">工作快一年，对下份工作的选择</a>
                    <br />
                    去年6月份毕业的，今年换工作，目前有两家意向度比较高的offer,一家是大公司，一家是创业公司，不知道现在应该如何选择，请大佬给点意见
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">职场</a></span>
                    <span><a href="#" style="color: white;">顾问咨询</a></span>
                </p>
                悬赏：0
                <a href="#">应答：</a>6
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        2018年02月08日 09点55分
                    </small>
                    <samp style="float:right">作者：<a href="#">wasd</a></samp>
                </div>
                <div>
                    <samp id="blue-label" class="problem-status">待协助</samp>
                    <a href="#">SVN资源库没有这个文件加 但是提交时却显示冲突</a>
                    <br />
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">SVN</a></span>
                    <span><a href="#" style="color: white;">JAVA</a></span>
                </p>
                悬赏：10
                <a href="#">应答：</a>6
                <a href="#">总结：</a>0
            </div>
            <hr />
            <div>
                <div style="padding-bottom:20px;">
                    <small>
                        2018年01月03日 23点04分
                    </small>
                    <samp style="float:right">作者：<a href="#">奇葩秋</a></samp>
                </div>
                <div>
                    <samp id="label-warning" class="problem-status">待协中</samp>
                    <a href="#">python爬虫不能够得到网址</a>
                    <br />
                    我去爬了智能招聘的网站，但是用下面那个代码爬到10面的时候，就不能够得到网址importrequestsfrombs4importBeautifulSoupimportredefgetHttp(url) :try:dic={'User-Agent':'Google/10.0'}r
                    <a href="#">……</a>
                </div>
                <p>
                    <span><a href="#" style="color: white;">爬虫</a></span>
                    <span><a href="#" style="color: white;">Python</a></span>
                    <span><a href="#" style="color: white;">编程开发语言</a></span>
                </p>
                悬赏：0
                <a href="#">应答：</a>6
                <a href="#">总结：</a>0
            </div>
            <hr />
        </div>
        <div class="content" style="margin-top:50px;">
            <H2>关键字</H2>
            <hr />
            <div id="keyword">
                <a href="#">编辑开发语言</a>
                <a href="#">c#</a>
                <a href="#">JAVA</a>
                <a href="#">工具软件</a>
                <a href="#">Javascript</a>
                <a href="#">顾问咨询</a>
                <a href="#">html</a>
                <a href="#">操作系统</a>
                <a href="#">VisualStudio</a>
                <a href="#">SQL</a>
                <a href="#">法律</a>
                <a href="#">职场</a>
                <a href="#">python</a>
                <a href="#">.net</a>
                <a href="#">css</a>
                <a href="#">Linux</a>
                <hr />
                <input type="text" placeholder="直接输入关键字查找" class="search-frame" />
                <button type="submit" class="btn btn-default">换一批</button>
            </div>
        </div>
        <div class="article-orientation">
            <h2>精品文章</h2>
            <hr />
            <div>
                <ol>
                    <li><a href="#">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a></li>
                    <li><a href="#">人心</a></li>
                    <li><a href="#">榜样的力量（二）</a></li>
                    <li><a href="#">榜样的力量</a></li>
                    <li><a href="#">请个假，立个誓。</a></li>
                </ol>
                <a href="#" style="float:right;">更多</a>
            </div>
        </div>
        <div class="article-orientation">
            <ol>
                <li><a href="#">线上学习不能自律？试试这个......</a></li>
                <li><a href="#">“一起帮·程序员客栈”筹办思路</a></li>
                <li><a href="#">“源栈”2019课程设置</a></li>
                <li><a href="#">免费广告位，抢到就是赚到！</a></li>
                <li><a href="#">免费广告位，抢到就是赚到！</a></li>
                <li>本站主机由<a href="#">西部数码</a>提供</li>
            </ol>
            <a href="#" style="float:right;">广告你也可以发布哟！</a>
        </div>
    </main>
    <hr />
    <footer style="clear:both;margin-left :200px;">
        <div aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear:both;padding-top:40px;">
            <a href="#">关于我们</a>l
            <a href="#">常见问题</a>l
            <a href="#">意见建议</a>l
            <a href="#">历史通知</a>l
            <a href="#">友情捐赠</a>l
            <a href="#">融资2018</a>l
        </div>
        <samp style="float:right;padding-right:50px;"><a href="#">渝ICP备18007191号（备案）</a>© 2019 - 首顾科技</samp>
    </footer>
    <a href="#" class="float-help" style="top:250px;">帮助</a>
    <a href="#" class="float-help ">反馈</a>
</body>
</html>

