<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/17bang.ico" />
    <title>28岁，转行学 IT 靠谱吗？ </title>
</head>
<body>
    <header>
        <div id="guide" style="z-index:100">
            <img src="/images/logo-big.png" ait="一起帮" style="margin-left:170px;float:left;" />
            <span style="float:left;margin-top:20px;"><span>一起帮</span>·网络互助平台</span>
            <ul style="margin-right: 200px;float: right;">
                <li class="dropdown">
                    <a class="parallel" href="#">求助</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">发布</a></li>
                            <li><a href="#">列表</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="parallel" href="#">督促</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">求督促</a></li>
                            <li><a href="#">督促别人</a></li>
                            <li><a href="#">我的目标</a></li>
                            <li><a href="#">我的督促</a></li>
                        </ul>
                    </div>

                <li class="dropdown">
                    <a class="parallel" href="#">文章</a>
                    <div class="dropdown-content">
                        <ul><li><a href="#">列表</a></li></ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="parallel" href="#">APP下载</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">ios（越狱）</a></li>
                        </ul>
                    </div>
                <li class="dropdown">
                    <a class="parallel" href="#">未登陆</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">登陆</a></li>
                            <li><a href="#">注册</a></li>
                            <li><a href="#">忘记密码</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="width">
            求助离职，已经离职了，工资以扣工作服的理由被扣了。的总结被zsedcftg12查看，获得3点帮帮点
            <a href="#" style="float:right" ;>全部消息</a>
        </div>
    </header>
    @RenderBody()
    <footer style="clear:both;margin-left :200px;">
        <div style="clear:both;padding-top:40px;">
            <a href="#">关于我们</a>
            <a href="#">常见问题</a>
            <a href="#">意见建议</a>
            <a href="#">历史通知</a>
            <a href="#">友情捐赠</a>
            <a href="#">融资2018</a>
            <samp style="float:right;padding-right:50px;"><a href="#">渝ICP备18007191号（备案）</a>© 2019 - 首顾科技</samp>

        </div>

    </footer>

</body>
</html>
